#img-logo{
    height: 70px;
}

footer{
    background-color: #252525;
}

.email{
    border-radius: 20px; 
    padding: 5px; 
    background-color: #E54F38; 
    cursor: pointer;
    width: 100px;
}

#email{
    margin-top: 10px; 
    color: #fff;
}

#img-sun-gd-gc{
    height: 50px;
}

.row.text-gc-gd.justify-content-start{
    height: 30px;
}

.row.text-gc-gd, .nav-link{
    color:#586589;
}

.gd_gc{
    background-color: #D9D9D9;
    border-radius: 40px;
}

.nav-link:hover, .nav-link:focus,#gd,#gc{
    color:#E54F38;
}

.nav-link.active{
    background-color: #E54F38 !important;
    color: #fff !important;
}

.nav-link.active:hover{
    transform: scale(1.05);
}

#icon-search{
margin-left: 10px;
position: absolute;
margin-top: 10px;
z-index: 99;
}
#custom-search-input .search-query {
    padding-right: 20px;
    padding-left: 30px;
    border-radius: 20px;
    background-color: #D9D9D9;
}

input{
    color: #586589;
}

#custom-search-input .search-query:focus{
    border: #586589 !important;
}

span{
    font-weight: bold;
}

a{
    color: #000;
    text-decoration: none;
}

.emphasis h4 a, h5 a, h6 a{
    color: #fff;
}

h4.card-text.emphasis, 
h5.card-text.emphasis, 
h6.card-text.emphasis {
    align-self: end;
    color: #fff; 
    font-weight: bold;
    text-shadow: 0px 0px 5px rgba(0,0,0, .9);
}

@keyframes rotating {
from{
    transform: rotate(0deg);
}
to{
    transform: rotate(360deg);
}
}

#img-sun-gd-gc{
    animation: rotating 10s linear infinite;
}

hr{
    display: inline-block; 
    position: relative;
    top: 13px;
    opacity: 1;
}

hr.hr-inicio{
    width: 2%;
}

hr.hr-final{
    width: 90%;
}

.subtitle{
    color: #18125E;
}

.vr{
    padding: 0px;
    opacity: 1 !important;
}

.border-bottom{
    border-bottom-color: #000 !important;
}

.revista {
    perspective: 1000px;
    transition: all 0.3s ease;
  }
  
  .revista:hover {
    transform: rotateY(15deg) translateZ(10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  
  .revista img {
    width: 100%;
    height: auto;
    backface-visibility: hidden;
    transition: all 0.3s ease;
  }
  
  .revista:hover img {
    transform: rotateY(-15deg) scale(1.05);
  }
  

  
  
  
  
  
  


